body{
    background-color: darkred;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header, main, footer {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
}
header,footer{
    color: white;
}
main section{
    background-color: white;
    box-shadow: 0px 36px 45px -38px rgba(0,0,0,1);
    border-radius: 5px;
    padding: 10px;
}
#res{
    text-align: center;
}