@charset "utf-8";
div{
    padding: 100px 10px;
}
/* Color Theme Swatches in Hex */
.Luquinha-Açaí-1-hex { background-color: #641242; }
.Luquinha-Açaí-2-hex { background-color: #8C1B85; }
.Luquinha-Açaí-3-hex { background-color: #D64A3B; }
.Luquinha-Açaí-4-hex { background-color: #F5C902; }
.Luquinha-Açaí-5-hex { background-color: #2E5C23; }

/* Color Theme Swatches in RGBA */
.Luquinha-Açaí-1-rgba { color: rgba(100, 17, 66, 1); }
.Luquinha-Açaí-2-rgba { color: rgba(140, 26, 133, 1); }
.Luquinha-Açaí-3-rgba { color: rgba(214, 73, 59, 1); }
.Luquinha-Açaí-4-rgba { color: rgba(244, 200, 2, 1); }
.Luquinha-Açaí-5-rgba { color: rgba(45, 91, 35, 1); }

/* Color Theme Swatches in HSLA */
.Luquinha-Açaí-1-hsla { color: hsla(324, 69, 23, 1); }
.Luquinha-Açaí-2-hsla { color: hsla(303, 67, 32, 1); }
.Luquinha-Açaí-3-hsla { color: hsla(5, 65, 53, 1); }
.Luquinha-Açaí-4-hsla { color: hsla(49, 98, 48, 1); }
.Luquinha-Açaí-5-hsla { color: hsla(108, 44, 24, 1); }
