@charset "urf-8";

@media screen and (min-width:768px) {
    span#burguer{
        display: none;
    }
    menu{
        display: flex;
        justify-content: center;
    }
    menu > ul > li {
        display: inline-block;  
    }
    menu > ul > li > a {
    background-color: darkred;
    border-top: 1px solid black;
    }
    menu > ul > li > a:hover {
    border-top: 1px solid red;
    }
    main{
        width: 768px
    }
}