@charset "utf-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(90deg, #E4CAFD, #BF7EFC) ;
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #5F3E7D;
}
h1{
    color: #5F3E7D;
    text-align: center;
    text-shadow: 2px 2px 3px #af72e7   ;
}
h2{
    color: #BF7EFC;
}
p{
    text-align: justify;
}